.title-overflow-center{
    margin-left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: #fff000;
    background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

